.container{
	display: flex;
	flex-direction: column;
	width: 380px;
    height: 489px;
	margin:50px auto;
	background: honeydew;
	-webkit-box-shadow: 4px 2px 11px -4px rgba(0,0,0,0.66);
-moz-box-shadow: 4px 2px 11px -4px rgba(0,0,0,0.66);
box-shadow:-1px -1px 13px -5px rgba(0,0,0,0.66), 1px -1px 13px -5px rgba(0,0,0,0.66),0px 7px 13px -5px rgba(0,0,0,0.66);
}
.img-center{
	
	text-align: center;
	margin-top: 10px;
}
p{
	font-variant: all-small-caps;
	color: thistle;
}
.form-container{
	display: flex;
	flex-direction: row wrap;
	justify-content: space-around;	
	position: relative;
	
}
label{
	display: block;
	position: relative;
	top: -33px;
	left: 80px;
	color: #999;
	font-family: 'Helvetice', sans-serif;
	font-size: 16px;
	z-index: 1;
	transition: all 0.1s ease-in-out;
	visibility: hidden;
}

input{
	display: inline-block;
	position: relative;
	background:none;
	border:none;
	border-bottom: 1px solid #ddd;
	width: 75%;
	font-family:  'Helvetice', sans-serif;
	
	font-size: 16px;
	z-index: 2;
}
div > span{
	display: inline-block;
	position: relative;
	background:none;
	border:none;
	width: 20%;
	text-align: center;
}

input:focus{
	outline: none;
	border-bottom: 1px solid #ff4081;
	color: c0392b;
}
input:focus ~ label{
	top:-50px;
    left: 69px;
    font-size: 15px;
	color: #ff4081;
	visibility: visible;
}
input:focus + .fa{
    color: #ff4081;
}
/* input:not(valid) ~ label{
	visibility: hidden;
} */

.fa{
	position: relative;
    left: -311px;
}

.devider{
	position: relative;
	height: 30px;
	width: auto;
	background:none;
}
.input-group > button{
	margin-left: 20px;
	margin-bottom: 40px;
}
.navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}
 a{
	text-decoration: none;
	color: #00a18f;
}