<div class="container">
  <div class="text-center">  
    <h2>Forgot Password?</h2> 
    <p>Reset your password from mail</p>
  </div>
  <div class="devider"></div>
  <form novalidate>
  <div class="input-group">
    <span></span>
    <input type="email" name="">
    <i class="fa fa-user"></i>
    <label>Email</label>
  </div>
  
  <div class="input-group">
    <button mat-raised-button color="accent" type="submit">Submit</button>
    <hr>
  </div>
</form>
<div class="devider"></div>
<div class="navigation">
  <a routerLink="/register" >REGISTER NOW!
</a>
  <a routerLink="/login" >Login</a>
</div>
</div>